.footer__date {
    color: #000;
    padding-right: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
@media (max-width: 696px) {
    .header__date {
        font-size: 12px;
        line-height: 14px;
    }
}