.daily-records__balance-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E6E6FA;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    height: auto;
}

@media (max-width: 696px) {
    .daily-records__balance-container {
        flex-direction: column;
        justify-content: space-between;
    }
}
