.exchange {
    margin: auto;
    padding: 45px 20px 0;
    max-width: 880px;
    min-height: 74px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 696px) {
    .exchange {
        padding: 10px 10px 0;
    }
}