.exchange {
    margin: auto;
    padding-top: 45px;
    max-width: 880px;
    min-height: 74px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 696px) {
    .exchange {
        padding-top: 10px;
    }
}