.goals {
    margin: 0 auto 80px;
    padding: 0 20px 0;
    max-width: 880px;
    min-height: 778px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.goals label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}
@media (max-width: 696px) {
    .goals {
        padding: 0 10px 0;
    }
}