.goal-container {
    margin: 10px auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(11, 156, 49, 0.6);
    color: #000;
    border-radius: 5px;
    border: 1px solid #000000;
}
