.footer {
    background-color: #9C80F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #fff;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 100;
}