.daily-records__canvas {
    width: 400px !important;
    height: 400px !important;
    margin: 10px auto !important;
    display: block !important;
}
@media (max-width: 696px) {
    .daily-records__canvas {
        width: 300px !important;
        height: 300px !important;
    }
  }