.goal-container__delete-button {
    margin: auto 10px auto auto;
    background: none;
    width: 20px;
    height: 20px;
    background-image: url(../../../images/trash-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
.goal-container__delete-button:hover {
    transition: 1s linear 0.05s;
    color: rgba(29, 28, 28, 0.8);
    cursor: pointer;
}
