.transactions {
    margin: 0 auto 0;
    padding: 20px;
    max-width: 880px;
    min-height: 778px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.transactions label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}