.transactions__add-form__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    height: auto;
}